@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');

/* override */

p{
	font-family: 'Open Sans', sans-serif;
	font-size:1.1em;
	line-height:28px;
	margin-bottom:30px;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-size:1.8em;
	font-weight:800;
	margin:0 0 20px 0;
	color:#000;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
	font-weight:700;
	color:#14699e;
	margin:0 0 20px 0;
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-size:1.6em;
	font-weight:700;
	color:#14699e;
	margin:0 0 20px 0;
}

h4{
	font-family: 'Open Sans', sans-serif;
	font-size:1.6em;
	font-weight:700;
	color:#9e1414;
	margin:0 0 20px 0;
}

h5{
	font-family: 'Open Sans', sans-serif;
	font-size:1.6em;
	font-weight:700;
	color:#000;
	margin:0 0 20px 0;
	border-bottom:1px #d2d2d2 solid;
	padding-bottom:15px;
}

.pad-top{
	margin-top:30px;
}

.pad-bottom{
	margin-bottom:30px;
}

.navbar{
	box-shadow: 0px 0px 9px #000;
}

.navbar-default{
    background-color: #244582;
    border-color: #3f6c8a;
}

.navbar-brand{
	height:auto;
}

.navbar-fixed-top {
    border-width: 0 0 3px;
}

.navbar-nav {
    margin-top: 32px;
}

.navbar-default .navbar-nav>li>a {
	font-family: 'Open Sans', sans-serif;
	font-size:1em;
    color: #ffd600;
    background-color: transparent;
}

.banner{
	background-image: image-url('banner-bg.jpg');
	background-repeat: none;
	background-size: cover;
	padding-top:150px;
	padding-bottom:30px;
	margin-bottom:60px;
}

	.banner-h1{
		font-family: 'Open Sans', sans-serif;
		font-size:2.6em;
		font-weight:700;
		margin-top:30px;
		margin-bottom:20px;
	}

	.banner-h2{
		font-family: 'Open Sans', sans-serif;
		font-size:1.7em;
		font-weight:600;
		margin-bottom:20px;
		color:#ff0000;
	}

	.banner-p{
		font-family: 'Open Sans', sans-serif;
		font-size:1.2em;
		font-weight:600;
		margin-bottom:20px;
		line-height:30px;
	}

	.banner-h3{
		font-family: 'Open Sans', sans-serif;
		font-size:1.6em;
		font-weight:700;
		margin-bottom:30px;
		color:#244582;
	}

	.banner button{
		font-family: 'Open Sans', sans-serif;
		background:#ff0000;
		border:0px;
		color:#fff;
		font-size:1.5em;
		padding-top:10px;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:10px;
		border-radius:20px;
	}

.content{
	padding-top:150px;
}

.features{
	background:#000;
	padding-right:15px;
	padding-bottom:1px;
	margin-bottom:20px;
}

	.features ul{
		margin: 0.75em 0;
		padding: 7px 0px 7px 38px;
		list-style: none;
	}

	.features li{
		font-family: 'Open Sans', sans-serif;
		font-size:1.2em;
		color:#ffe200;
		line-height:28px;
	}

	.features li:before{
		content: "";
		border-color: transparent #fff;
		border-style: solid;
		border-width: 0.35em 0 0.35em 0.45em;
		display: block;
		height: 0;
		width: 0;
		left: -1em;
		top: 1.1em;
		position: relative;
	}

.features2{
	background:transparent;
}

	.features2 ul{
		margin: 0.75em 0;
		padding: 7px 0px 20px 38px;
		list-style: none;
	}

	.features2 li{
		font-family: 'Open Sans', sans-serif;
		font-size:1.5em;
		color:#000;
	}

	.features2 li:before{
		content: "";
		border-color: transparent #000;
		border-style: solid;
		border-width: 0.35em 0 0.35em 0.45em;
		display: block;
		height: 0;
		width: 0;
		left: -1em;
		top: 0.9em;
		position: relative;
	}

.form{
	background:#2b2b2b;
	padding:20px;
	border-radius:8px;
}

	.form input{
		font-family: 'Open Sans', sans-serif;
		margin-bottom:20px;
		border: 2px #949494 solid;
	}

	.form textarea{
		font-family: 'Open Sans', sans-serif;
		margin-bottom:20px;
		height:88px;
		border: 2px #949494 solid;
	}

	.form button{
		background:#ff8a00;
		font-family: 'Open Sans', sans-serif;
		font-size:1.3em;
		font-weight:700;
		border:0;
		border-radius:10px;
		color:#fff;
		height:auto;
	}

	.form-h1{
		font-family: 'Open Sans', sans-serif;
		font-size:1.4em;
		font-weight:400;
		color:yellow;
		text-align:center;
		margin-bottom:20px;
	}

	.form p{
		font-size:1.4em;
		font-weight:700;
		color:#fff;
		text-align:center;
	}

.box{
	padding-top:20px;
	padding-bottom:40px;
	text-align:left;
}

footer{
	background:#313536;
	padding-top:30px;
	padding-bottom:30px;
	text-align:center;
	color:#797979;
}

	footer ul{
		padding:0;
	}

	footer li{
		display:inline-block;
		color:#fff;
		list-style:none;
		margin-left:15px;
		margin-right:15px;
	}

	footer li a{
		color:#ffd600;
		font-size:1.1em;
	}

.navbar-toggle{
	margin-top:40px;
}

#box-mobile{
	display:none;
}

@media (max-width:1200px){
	.banner img{
		width:auto;
		text-align:center;
	}

	.box img{
		width:100%;
	}
}

@media (max-width:991px){
	#box-mobile{
		display:block;
		margin-bottom:20px;
		margin-top:20px;
	}

	#box-desktop{
		display:none;
	}

	.form{
		margin-bottom:30px;
	}

	.welcome-col{
		display:none;
	}

	.content-col-welcome{
		display:block;
		border:1px #d2d2d2 solid;
		padding:20px;
		margin-bottom:20px;
	}

	.content-col-welcome ul{
		padding:0;
	}

	.content-col-welcome li{
		background:#ffd600;
		list-style:none;
		margin-bottom:10px;
		padding:10px;
	}

	.content-col-welcome li a{
		font-size:1.2em;
		font-weight:700;
		line-height:30px;
	}
}

@media (max-width:630px){
	.box img{
		width:100%;
		margin-bottom:20px;
	}
}

.plan-box{
	color:#d4d4d4;
	height:auto;
	border:1px #d4d4d4 solid;
	margin-bottom:30px;
}

.plan-box-h1{
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
	font-weight:700;
	color:#14699e;
	margin:20px 20px 20px 20px;
}

.plan-box-header{
	font-family: 'Open Sans', sans-serif;
	font-size:2em;
	text-align:center;
	color:#333;
	padding-top:15px;
	padding-bottom:15px;
}

.plan-box ul{
	padding:0;
	text-align:left;
}

	.plan-box li{
		font-family: 'Open Sans', sans-serif;
		font-size:1.1em;
		font-weight:700;
		list-style:none;
		border-top:1px #d4d4d4 solid;
		color:#333;
		padding:15px;
	}

	.blue-bg{
		background:#114ba5;
		color:#fff;
	}

	.orange-bg{
		background:#ffd600;
	}

	.notice{
		font-size:0.7em;
		color:#ff0000;
		padding:15px;
	}

.contact ul{
	padding:0;
}

	.contact li{
		font-family: 'Open Sans', sans-serif;
		font-size:1.6em;
		line-height:32px;
		list-style:none;
	}

	.contact i{
		margin-right:20px;
	}

.buy-book button{
	font-family: 'Open Sans', sans-serif;
	font-size:1.6em;
	background:#ff0000;
	padding:10px;
	border-radius:10px;
	color:#fff;
	border:0;
}

.content-col{
	border:1px #d2d2d2 solid;
	padding:20px;
	margin-bottom:20px;
}

.welcome-col{
	border:1px #d2d2d2 solid;
	padding:20px;
}

	.welcome-col ul{
		padding:0;
	}

	.welcome-col li{
		background:#ffd600;
		list-style:none;
		margin-bottom:10px;
		padding:10px;
		font-size:1.3em;
		font-weight:700;
		line-height:30px;
		color:#286090;
	}

	.welcome-col li a{
		font-size:1.2em;
		font-weight:700;
		line-height:30px;
		color:#286090;
	}

.content-col-welcome{
	display:none;
}

	.content-col-welcome li{
		font-size:1.3em;
		font-weight:700;
		line-height:30px;
		color:#286090;
	}

label{
	font-family: 'Open Sans', sans-serif;
	font-size:1.2em;
	font-weight:700;
}

.question button{
	background: #ff8a00;
    font-size: 1.3em;
    font-weight: 700;
    border: 0;
    border-radius: 10px;
    color: #fff;
    height: auto;
	padding:10px 20px 10px 20px;
}

.header-sent{
	background:#244582;
	padding-top:15px;
	padding-bottom:20px;
	text-align:center;
	margin-bottom:50px;
}

	.box button{
		font-family: 'Open Sans', sans-serif;
		background:#fa8911;
		border:0px;
		color:#fff;
		font-size:1.5em;
		padding-top:10px;
		padding-left:20px;
		padding-right:20px;
		padding-bottom:10px;
		border-radius:20px;
	}
