%script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-119005898-1"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119005898-1');
