.card.track-index-card
  .card-body.text-center
    .col-md-6.offset-md-3
      %h1 The Journey
      %span
        TIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem.
    = link_to 'Begin the Journey', the_journey_path, class: 'btn btn-success'
    = link_to 'Dismiss', '#', class: 'btn btn-link'