%section.content
  .container
    .col-md-12
      .col-md-8
        %h1 Why Choose Us?
        %br/
        %p
          %b Have diets failed to help you lose weight?
          %br/
          %b Do you lack motivation?
          %br/
          %b Is having exercise equipment at your disposal just not enough for you?
          %br/
          %b Have you struggled with being able to lose weight and keep it off?
          %br/
          %b Do you lack the focus to stay on track toward achieving your weight loss goal?
          %br/
        %p If you answered yes to any of the questions above then you should definitely continue reading about our program.
        %p Thank you for taking the time to evaluate our program. We are very pleased that you're considering our program as a tool to help you achieve your weight loss goals. Before I go any further I would like you to know that I am not only a Lifestyle and Weight Management Specialist, I am someone that often struggled to lose excess weight for most of my life. Therefore, I'm aware of the struggles, temptations, habits, obstacles, and sometimes hopelessness that's associated with trying to lose weight. However, through my experience dealing with weight issues many years ago I was able to develop a structured weight loss program that worked to help me conquer my weight issues, as well as our clients. Even with a great amount of success a personal challenge still remains and that challenge is to continuously teach others how to conquer their weight issues.
        %h2 Our Core Belief
        %p
          As a past employee, business owner, single father, program developer, and instructor I have always held strong to one core belief. The belief  that the true ability to succeed at anything or achieve any goal, primarily comes from within yourself.  To be a good parent or employee, to earn a college degree, or to simply make personal improvements takes true will, determination, and action.  However, when dealing with complex tasks or goals including weight loss there are many more elements required.  Elements such as self-assessment and lifestyle modification, motivation, focus, patience, relentlessness, and discipline.  We believe that these elements are much more important than any weight loss equipment or short term diet plan that you may use. These elements are the driving force that can keep you using the exercise equipment that you bought instead of allowing it to sit in your garage collecting dust. These elements are also the driving force that keeps you focused on maintaining healthy habits, paying attention to the things you eat, and staying clear of the things that take you off the path that leads to weight loss.   We believe that there is too much focus on products and services that offer short term solutions.   And many of these products and services do not assist their clients with evaluating why they have been able to achieve their weight loss goals.  Our program is designed to help clients assess and address many of the overlooked obstacles and traits that may be keeping them from achieving their weight loss goals.  Anyone can ship you a product or provide a service, but few are willing to help you make lifestyle modifications and assist you with keeping on track toward your desired destination.
          %br/
          = succeed "We" do
            %br/
        %br/
        %h2 Our approach to assisting others in achieving their goals:
        %p
          %b Instill
          a sense of power in others to overcome obstacles that stand in their way of achieving their goals.
        %p
          %b Inspire
          others to reach within and find the true reasons as to why they would like to achieve a desired goal.
          Without being clear on your purpose one may fall short of reaching their maximum potential and/or greatest level of motivation required to reach their desired destination.
        %p
          %b Empower
          others through education, individual evaluation of areas in need of improvement, and assisting with changes required to form and maintain healthy habits.
        %br/
        %br/
      .col-md-4
        .form
          %form{:action => "sent2.php", :method => "post"}
            .form-h1 FOR MORE INFORMATION ABOUT OUR PROGRAM
            %div
              %input.form-control{:name => "first_name", :placeholder => "First Name", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "last_name", :placeholder => "Last Name", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "height", :placeholder => "Height", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "weight", :placeholder => "Weight", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "age", :placeholder => "Age", :required => "", :type => "text"}/
            %div
              %textarea.form-control{:placeholder => "Message"}
            %div
              %button.form-control{:type => "submit"} SUBMIT
