%section.content.pad-bottom
  .container
    .col-md-12
      .col-md-8
        %h1 Contact Us
        %p You may contact us through the following information below.
        .contact
          %ul
            %li
              %i.fa.fa-phone{"aria-hidden" => "true"}>
              (707) 742-0040 : M - F 10AM - 5PM PST
            %li
              %i.fa.fa-envelope{"aria-hidden" => "true"}>
              info@wcwlc.com
      .col-md-4
        .form
          %form{:action => "sent2.php", :method => "post"}
            .form-h1 FOR MORE INFORMATION ABOUT OUR PROGRAM
            %div
              %input.form-control{:name => "first_name", :placeholder => "First Name", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "last_name", :placeholder => "Last Name", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "height", :placeholder => "Height", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "weight", :placeholder => "Weight", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "age", :placeholder => "Age", :required => "", :type => "text"}/
            %div
              %textarea.form-control{:placeholder => "Message"}
            %div
              %button.form-control{:type => "submit"} SUBMIT
