%section.content
  .container
    .col-md-12
      %h1 Rates
      %p
        We offer multiple plans to fit your budget and instructional needs. Please choose the plan that best suits your needs.
        %br
          %br
            %br
              %b Plan A:
              Subscribers will receive an instructional lesson weekly by email.  This plan is not coach assisted.
              %br
                %br
                  %b Plan B:
                  Subscribers will receive an instructional lesson weekly by email.  They will also receive a weekly call from a Weight loss specialist to discuss the weekly lesson, clarify any questions, track progress,  assistance with positive habit development, and receive assistance with fine tuning our program to work for you.
                  %br
                    %br * All plans are subscription based with no contract.  Subscribers may cancel at anytime.
                    .col-md-6
                      .plan-box
                        .plan-box-header.blue-bg
                          %div PLAN A
                          %div (4) EMail lessons per month - weekly $29.95/mo.
                        %ul
                          %center
                            .plan-box-h1 17 WEEK LIFESTYLE OVERHAUL TRAINING (Email)
                          %li Motivational Assistance Training
                          %li Weight Loss Obstacle Evaluation - Lifestyle
                          %li Weight Loss Obstacle Evaluation - Environmental
                          %li Team Building Strategy
                          %li Habit Modification Training
                          %li Weight Loss Training
                          %li And More!
                          %li
                            %center
                              %b COMING SOON!
                    .col-md-6
                      .plan-box
                        .plan-box-header.orange-bg
                          %div PLAN B
                          %div (4) EMail lessons per month + Coaching $69.95/mo.
                        %ul
                          %center
                            .plan-box-h1 17 WEEK LIFESTYLE OVERHAUL PROGRAM (Coach Assisted)
                          %li Motivational Assistance Training
                          %li Weight Loss Obstacle Evaluation - Lifestyle
                          %li Weight Loss Obstacle Evaluation - Environmental
                          %li Team Building Strategy
                          %li Habit Modification Training
                          %li Weight Loss Training
                          %li Progress Tracking (Coach Assisted)
                          %li Motivational Assistance (Coach Assisted)
                          %li One on One pre program assessment (Coach Assisted)
                          %li Complete Weight Loss Obstacle Evaluation (Coach Assisted)
                          %li Weekly Consultation Sessions with a Weight Management coach (Coach Assisted)
                          %li And More!
                          %li
                            %center
                              %form{:action => "ht//www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", :alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit"}
                                %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}
