%section.banner
  .container
    .col-md-12
      .col-md-4
        = image_tag "book-17-week.png"
      .col-md-8
        .banner-h1 Tired of the weight? Let us help you!
        .banner-p Exercise, surgery, and dieting can possibly help you lose weight temporarily. But your daily routine and eating habits may determine whether you regain the weight that you just lost. Our program is designed to teach our clients to develop healthy habits that promote weight loss and the ability to maintain a healthy weight.   If you have made numerous attempts and tried multiple methods to lose weight with little to no long term positive results then you are due for a new, unique, and effective approach to achieving your weight loss goals.  Our unconventional program was developed to help our clients with lifestyle evaluation, forming positive habits, utilizing strengths, weight loss education and tips, self- assessment, self-motivation, working on areas in need of improvement, and addressing potential obstacles that keep our clients from achieving their weight loss goals.
        .banner-h3 Our success is strictly based on your success!
        %div
          %a{:href => "why-choose-us.html"}
            %button= link_to "Start Now", new_user_registration_path
            %span Learn More
%section
  .container
    .col-md-12
      .col-md-8
        %h1 Welcome to West Coast Weight Loss Center
        %p If you're visiting our site you may be in the same situation as many Americans that are currently struggling to lose weight. You're not alone!  The CDC has estimated that 36.5% of adults, and 17% of children 2 to 19 years of age are obese. The CDC has also projected that EVERY states obesity rates will reach at least 44% by 2030. And 13 of those states are projected to exceed a 60% obesity rate. You have a choice whether to become or remain a statistic. If you seek Lifestyle Modification and motivational assistance then you have come to the right place! Our unique 17 week program is designed to help you address obstacles that may be standing in your way and keeping you from achieving your weight loss goals.
        .features
          %ul
            %li Motivational Assistance
            %li Weight Loss Education
            %li Healthy Habit Development Training
            %li Weight Loss Obstacle Evaluation (Lifestyle &amp; Environmental)
            %li Lifestyle &amp; Habit Modification Assistance &amp; Training
            %li Remote Weight Loss Coaching Consultation (Weekly)
            %li And more!
      .col-md-4
        .form
          %form{:action => "sent2.php", :method => "post"}
            .form-h1 FOR MORE INFORMATION ABOUT OUR PROGRAM
            %div
              %input.form-control{:name => "first_name", :placeholder => "First Name", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "last_name", :placeholder => "Last Name", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "phone", :placeholder => "Phone", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "email", :placeholder => "Email", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "height", :placeholder => "Height", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "weight", :placeholder => "Weight", :required => "", :type => "text"}/
            %div
              %input.form-control{:name => "age", :placeholder => "Age", :required => "", :type => "text"}/
            %div
              %textarea.form-control{:placeholder => "Message"}
            %div
              %button.form-control{:type => "submit"} SUBMIT
%section.box
  .container
    .col-md-12
      .col-md-5
        %a{:href => "#"}
          = image_tag "image002.jpg"
      .col-md-7
        %h1 Why diets are not the solutions?
        %p Studies currently show that this year alone within the United States over 100 million people will diet. That is equivalent to the population of California, Texas, Florida, Arizona, and Colorado combined. These dieters will average 4 to 5 attempts to lose weight within this year. Unfortunately, an overwhelming majority of these dieters will not achieve their desired goals.
        %a{:href => "#"}
          %button Learn More
