.jumbotron.jumbotron-fluid.jumbo-landing
  .container
    .row
      .offset-md-2.col-md-8
        .card
          .card-body
            %h1 Reach your weight loss goals
            %p.lead Our application is currently under construction. Enter your email below to get updates on our progress.
            = form_tag updates_path do
              = text_field_tag :email, '', placeholder: 'Enter email to receive updates', class: 'form-control'
              %button.btn.btn-success Get updates