%section.content
  .container
    .col-md-12
      %h1 17 Week Lifestyle Overhaul
      %p
        %b West Coast Weight Loss Center
        (WCWLC) 17 Week Lifestlye Overhaul is not your average weight loss program.
      .col-md-4
        = image_tag "book-17-week.png"
      .col-md-8.buy-book
        %br/
        %br/
        %h2 What Makes Our Program Unique?
        %p Many weight loss plans and programs tend to simply focus on eating habits and exercise. The problem with this narrow minded focus is that most clients may drop weight, but over time a vast majority end up gaining all of their weight back and sometimes more. This is primarily due to the fact that most people tend to revert back to their regular routines. WCWLC takes an effective and systematic approach to educating, inspiring, and providing our clients with the required tools and knowledge to make lasting lifestyle changes. We believe that to truly succeed at anything in life you must learn to form and maintain healthy habits. This is especially true when it comes to weight loss, and weight management after reaching your target weight.
        %p WCWLC also differs from most programs being we do not believe in the cookie cutter approach when it comes to coaching.  Not all methods that may work for one will work for all. All lifestyles, obstacles, strengths, environmental factors, eating habits, etc. differ from one person to another. For this particular reason we have developed two different programs (Online and Online + Coach) to help our clients develop a structured program based on their specific needs.
        %p Our program was developed taking a structured and logical approach towards addressing obesity. It was our intent to develop a unique program to address the most common issues that keep most people from achieving their weight loss goals. Those issue are motivation, focus, patience, health education, lifestyle, cultural eating habits, environment, lack of exercise, convenience, hopelessness, self-awareness issues, instant gratification, and more.
        %p Our unconventional program was developed to help our clients with lifestyle evaluation, forming positive habits, utilizing strengths, weight loss education and tips, self- assessment, self-motivation, working on areas in need of improvement,  and addressing potential obstacles that keep our clients from achieving their weight loss goals.
        %h2 What Our Program Consists Of?
        %p Our 17 Week Program is developed to help motivate our client as well assist them with determining their habits and obstacles that may be keeping them from achieving their weight loss goal.  Every week our clients go through a weekly audio lesson accessible via computer or smart phone.   These lessons range from a wide variety of topics such as  weight loss education, self-evaluation, environmental assessment, habit evaluation and modification, and more.   Our program is structured to allow our clients the  time to focus on certain topics without being bombarded by information overload.    With our listen, learn, focus, and execute approach our clients have shown great results.    And for those that require a little more assistance with reaching their weight loss goals we have added a new plan,  17 WEEK AUDIO TRAINING PACKAGE (+ COACHING).  This plan includes all features included in plan A and more!  It includes 17 Weekly phone consultation sessions with a Lifestyle and Weight Management Specialist.
        %p We look forward to hearing from you and having the ability to assist you with achieving your weight loss goals!
        %button.start-button= link_to "Start Now", new_user_registration_path
