<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet">
<title>West Coast Weight Loss Center</title>
</head>

<body>
<header>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="index.html"><img src="images/logo.png"></a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="index.html">HOME</a></li>
		<li><a href="services.html">SERVICES</a></li>
		<li><a href="why-choose-us.html">WHY CHOOSE US</a></li>
		<li><a href="rates.html">RATES</a></li>
		<li><a href="contact-us.html">CONTACT US</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>
</header>

<section class="content pad-bottom">
	<div class="container">
	<form action="sent.php" method="post" class="question">
		<div class="col-md-12">
			<h1>Form Questionare</h1>
			
			<p>Please fill-up questions below.</p>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>First Name</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><input type="text" name="first_name" class="form-control"></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Last Name</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><input type="text" name="last_name" class="form-control"></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Phone Number</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><input type="text" name="phone" class="form-control"></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Email</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><input type="text" name="email" class="form-control"></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Age</label></div>
			</div>
			<div class="col-md-2 pad-bottom">
				<div>
					<select name="age" class="form-control">
						<option select="selected">-- Select --</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
						<option value="41">41</option>
						<option value="42">42</option>
						<option value="43">43</option>
						<option value="44">44</option>
						<option value="45">45</option>
						<option value="46">46</option>
						<option value="47">47</option>
						<option value="48">48</option>
						<option value="49">49</option>
						<option value="50">50</option>
						<option value="51">51</option>
						<option value="52">52</option>
						<option value="53">53</option>
						<option value="54">54</option>
						<option value="55">55</option>
						<option value="56">56</option>
						<option value="57">57</option>
						<option value="58">58</option>
						<option value="59">59</option>
						<option value="60">60</option>
						<option value="61">61</option>
						<option value="62">62</option>
						<option value="63">63</option>
						<option value="64">64</option>
						<option value="65">65</option>
						<option value="66">66</option>
						<option value="67">67</option>
						<option value="68">68</option>
						<option value="69">69</option>
						<option value="70">70</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Current Weight</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><input type="text" name="current_weight" class="form-control"></div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Target Weight</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><input type="text" name="target_weight" class="form-control"></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>How many years you have been battling with excess weight?</label></div>
			</div>
			<div class="col-md-2 pad-bottom">
				<div>
					<select name="years_battling_excess_weight" class="form-control">
						<option select="selected">-- Select --</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
						<option value="36">36</option>
						<option value="37">37</option>
						<option value="38">38</option>
						<option value="39">39</option>
						<option value="40">40</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Strength or current hobbies that may help you with weight loss?</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><textarea class="form-control" name="strength_or_hobbies"></textarea></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Areas in need of improvement to help in weight loss?</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><textarea class="form-control" name="areas_need_improvement_to_help_in_weight_loss"></textarea></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Foods that you cannot say no to?</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><textarea class="form-control" name="foods_that_cannot_say_no_to"></textarea></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Environmental obstacles that make the weight loss harder (Family Members, Habits, Activities)?</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><textarea class="form-control" name="obstacles_that_make_weight_loss_harder"></textarea></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Family Role / Responsibilities?</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><textarea class="form-control" name="family_role"></textarea></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Workout Hours per Week? (If any..)</label></div>
			</div>
			<div class="col-md-2 pad-bottom">
				<div>
					<select name="working_hours_per_week" class="form-control">
						<option select="selected">-- Select --</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Number of household family member?</label></div>
			</div>
			<div class="col-md-2 pad-bottom">
				<div>
					<select name="number_of_household_family_member" class="form-control">
						<option select="selected">-- Select --</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>What sports do you currently like playing? (If Any..)</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><textarea class="form-control" name="sports_currently_like_playing"></textarea></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>What sports did you participate in when younger?</label></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><textarea class="form-control" name="sports_participated_when_younger"></textarea></div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Alcohol drinks consumed per week?</label></div>
			</div>
			<div class="col-md-2 pad-bottom">
				<div>
					<select name="alcohol_drinks_consumed_per_week" class="form-control">
						<option select="selected">-- Select --</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div><label>Softdrinks, Energy Drinks, Sports Drinks consumed per week?</label></div>
			</div>
			<div class="col-md-2 pad-bottom">
				<div>
					<select name="softdrinks,_energy_drinks,_sports_drinks,_consumed_per_week" class="form-control">
						<option select="selected">-- Select --</option>
						<option value="0">0</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
						<option value="32">32</option>
						<option value="33">33</option>
						<option value="34">34</option>
						<option value="35">35</option>
					</select>
				</div>
			</div>
		</div>
		
		<div class="col-md-12">
			<div class="col-md-6">
				<div></div>
			</div>
			<div class="col-md-6 pad-bottom">
				<div><button type="submit">SEND</button></div>
			</div>
		</div>
	</form>
	</div>
</section>

<footer>
	<div>
		<ul>
			<li><img src="images/fb.png"></li>
			<li><img src="images/ig.png"></li>
			<li><img src="images/twitter.png"></li>
		</ul>
	</div>
	<div>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="why-choose-us.html">Why Choose Us</a></li>
			<li><a href="rates.html">Rates</a></li>
			<li><a href="contact-us.html">Contact Us</a></li>
		</ul>
	</div>
	<div>&copy; Copyright West Coast Weight Loss Center 2016. All Rights Reserved.</div>
	<div><a href="terms-and-conditions.html">Terms and Conditions</a> | <a href="privacy-policy.html">Privacy Policy</a></div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>