
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet">
<title>West Coast Weight Loss Center</title>
</head>

<body>
<header>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="index.html"><img src="images/logo.png"></a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="index.html">HOME</a></li>
		<li><a href="services.html">SERVICES</a></li>
		<li><a href="why-choose-us.html">WHY CHOOSE US</a></li>
		<li><a href="rates.html">RATES</a></li>
		<li><a href="contact-us.html">CONTACT US</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>
</header>

<section class="content">
	<div class="container">
		<div class="col-md-12">
			<h1>Rates</h1>
			
			<p>We have different packages for different pockets. You may choose on our available plans that suites your need.</p>
			
			<div class="col-md-6">
				<div class="plan-box">
					<div class="plan-box-header blue-bg">
						<div>PLAN A</div>
						<div>$140 / Month</div>
					</div>
					
					<ul>
						<li>All weight management consulting plans include all of the services shown below.</li>
						<li>(2) One on One Weight Management Consultation Sessions with a Certified Lifestyle and Weight Management Coach</li>
						<li>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="X76KFHP6P6AEN">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
					</ul>

				</div>
			</div>
			
			<div class="col-md-6">
				<div class="plan-box">
					<div class="plan-box-header orange-bg">
						<div>PLAN B</div>
						<div>$180 / Month</div>
					</div>
					
					<ul>
						<li>All weight management consulting plans include all of the services shown below.</li>
						<li>(3) One on One Weight Management Consultation Sessions with a Certified Lifestyle and Weight Management Coach</li>
						<li>
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="JCCGSEL39CRZW">
								<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
						</li>
						<div class="notice">** Also includes client control panel. Control panel allows client access to view all assigned tasks set by coach, track progress, and more.</div>
					</ul>

				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div>
		<ul>
			<li><img src="images/fb.png"></li>
			<li><img src="images/ig.png"></li>
			<li><img src="images/twitter.png"></li>
		</ul>
	</div>
	<div>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="why-choose-us.html">Why Choose Us</a></li>
			<li><a href="rates.html">Rates</a></li>
			<li><a href="contact-us.html">Contact Us</a></li>
		</ul>
	</div>
	<div>&copy; Copyright West Coast Weight Loss Center 2016. All Rights Reserved.</div>
	<div><a href="terms-and-conditions.html">Terms and Conditions</a> | <a href="privacy-policy.html">Privacy Policy</a></div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>