


<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="css/font-awesome.min.css" rel="stylesheet">
<title>West Coast Weight Loss Center</title>
</head>

<body>
<header>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="index.html"><img src="images/logo.png"></a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="index.html">HOME</a></li>
		<li><a href="why-choose-us.html">WHY CHOOSE US</a></li>
		<li><a href="17-week-lifestyle-overhaul.html">OUR PROGRAM</a></li>
		<li><a href="get-started.html">GET STARTED</a></li>
		<li><a href="contact-us.html">CONTACT US</a></li>
	  </ul>
	</div><!--/.nav-collapse -->
  </div>
</nav>
</header>

<section class="content pad-bottom">
	<div class="container">
		<div class="col-md-12">
			<div class="col-md-8">
				<h1>Why Diets are not the Solution?</h1>
				
				
<p>Studies currently show that this year alone within the United States over 100 million people will diet. That is equivalent to the population of California, Texas, Florida, Arizona, and Colorado combined. These dieters will average 4 to 5 attempts to lose weight within this year. Unfortunately, an overwhelming majority of these dieters will not achieve their desired goals. And for the ones that do succeed at losing weight studies show that approximately 85% of them will end up gaining the weight back and even more. That statistic alone speaks for itself. It is very clear that diets may work in the short-term but long-term they are not the solution.</p>
<p>Diets are usually geared toward helping people drop weight quickly within a short period of time but offer little to no long term solution when it comes to maintaining a healthy weight. Diets also fall short due to the fact that people are unique from one another and many diets do not take that into account. This is not to say that diets cannot be an effective short-term solution because we do believe that some may work. However, to maintain long-term results there is much more needed than simply a temporary diet modification.</p>
<p>We understand that many people diet for a multitude of reasons such as health, physical appearance, increased energy, etc. However, the reality is that diets simply are not an effective solution to maintaining long term results. If temporarily weight loss is what people seek, then there are thousands of diets available. The best way to reach your weight loss goal and maintain a healthy weight is to be educated, motivated, disciplined, and most importantly form healthy habits.</p>
<p>Our program is designed to help you focus on creating long term healthy habits that promote weight loss and help you maintain a healthy weight.</p>

			
			</div>
			<div class="col-md-4">
				<div class="form">
					<form action="sent2.php" method="post">
						<div class="form-h1">FOR MORE INFORMATION ABOUT OUR PROGRAM</div>
						<div><input type="text" name="first_name" class="form-control" placeholder="First Name" required></div>
						<div><input type="text" name="last_name" class="form-control" placeholder="Last Name" required></div>
						<div><input type="text" name="phone" class="form-control" placeholder="Phone" required></div>
						<div><input type="text" name="email" class="form-control" placeholder="Email" required></div>
						<div><input type="text" name="height" class="form-control" placeholder="Height" required></div>
						<div><input type="text" name="weight" class="form-control" placeholder="Weight" required></div>
						<div><input type="text" name="age" class="form-control" placeholder="Age" required></div>
						<div><textarea class="form-control" placeholder="Message"></textarea></div>
						<div><button type="submit" class="form-control">SUBMIT</button></div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

<footer>
	<div>
		<ul>
			<li><a href="#"><img src="images/fb.png"></a></li>
			<li><a href="#"><img src="images/ig.png"></a></li>
			<li><a href="#"><img src="images/twitter.png"></a></li>
		</ul>
	</div>
	<div>
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="services.html">Services</a></li>
			<li><a href="why-choose-us.html">Why Choose Us</a></li>
			<li><a href="17-week-lifestyle-overhaul.html">Our Program</a></li>
			<li><a href="get-started.html">Get Started</a></li>
			<li><a href="contact-us.html">Contact Us</a></li>
		</ul>
	</div>
	<div>&copy; Copyright West Coast Weight Loss Center 2016. All Rights Reserved.</div>
	<div><a href="terms-and-conditions.html">Terms and Conditions</a> | <a href="privacy-policy.html">Privacy Policy</a></div>
</footer>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>

</html>