%ul.breadcrumb
  %li= link_to 'Lessons', lessons_path, class: 'breadcrumb-item'
  %li.breadcrumb-item.active= @lesson.title
.card.lesson-card
  .card-block
    .jumbotron
      %h2= @lesson.title
    .card-text= @lesson.body.html_safe
