- if current_user&.admin?
  = link_to 'New lesson', new_lesson_path(@course), class: 'btn btn-sm btn-link'
  %button{"data-path" => "#{link_to 'Delete course',  course_path(@course), method: :delete, class: 'btn btn-danger'}", "data-target" => "#deleteModal", "data-toggle" => "modal", :type => "button", id: 'deleteModal', class: 'btn btn-sm btn-link'} Delete course
  = link_to 'Edit course', edit_course_path(@course), class: 'btn btn-sm btn-link'