@import 'bootstrap';

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-dark {
  background-color: $blue;
  margin-bottom: 20px;
}

.jumbo-landing {
  padding-top: 150px;
  margin-bottom: 0;
  margin-top: -40px;
  background-image: image-url('sub.png');
  height: 100vh;
}

.completed-lesson {
  height: 32px;
  width: 32px;
  background-color: limegreen;
  content: '';
  display: inline-block;
  position: relative;
}

.indicators {
  margin-bottom: 50px;
  text-align: center;

  a:hover {
    text-decoration: none;
  }
}

.btn-white-text {
  color: white;
}

.not-completed-lesson {
  height: 32px;
  width: 32px;
  content: '';
  display: inline-block;
  background-color: #ccc;
  position: relative;
}

.course-card {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #dedede;
  margin-bottom: 10px;
}