@import "bootstrap";
@import 'ionicons';
@import 'material_icons';
@import 'partials/variables';
@import 'partials/lessons';

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-dark {
  background-color: $blue;
  margin-bottom: 20px;
}

.card {
  border: none;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.jumbo-landing {
  padding-top: 150px;
  margin-bottom: 0;
  margin-top: -40px;
  background-image: image-url('sub.png');
  height: 100vh;
}