.jumbotron * {
  color: initial;
}

.jumbotron {
  background-color: #14699e;
  margin-bottom: 0;
}

.jumbotron h2 {
  margin-bottom: 0;
  color: white;
}

.card {
  background-color: white;
}

.card-text {
  background-color: white;
  padding: 20px;
}
