/************************
INFO PAGES **************
************************/
.banner {
  padding: 50px;
}

.banner-h1 {
  margin-top: 0;
}

.start-button {
  a {
    text-decoration: none;
    color: white;
  }
}

.banner button {
  margin-right: 15px;

  a {
    text-decoration: none;
    color: white;
  }
}

.banner-p {
  font-weight: 400;
}
