= render 'categories/form' if current_user&.admin?

-# = render library_intro_path

- @categories.each do |category|
  .clearfix
    %h3.category-title{style: "color: #{category.color}"}= category.title
    = admin_buttons_path(category)
  .card-columns
    = render category.courses.order('title')
  
-# .card-columns
-#   - @categories.each do |category|
-#     = render category.courses.order('title')