= render 'categories/form' if current_user&.admin?

-# = render library_intro_path

- @categories.each do |category|
  .clearfix
    %h3.category-title{style: "color: #{category.color}"}= category.title
    = admin_buttons_path(category)
  = render partial: category.courses, locals: { selections: @selections }